*.o
src/vn
*.tar.gz
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/parser.c
src/parser.h
src/scanner.c
stamp-h1
ylwrap
*~

proposals/vn2
src/v1/.deps/
src/v1/parser.c
src/v1/parser.h
src/v1/scanner.c
src/v1/vn


src/syntax/.deps/
src/syntax/libsyntax.a
src/syntax/parser.c
src/syntax/parser.h
src/syntax/scanner.c
